%h3.text-center All Students        
%table.table.table-hover.table-bordered
  %thead
    %tr
      %th{:scope => "col"} Full Name
      %th{:scope => "col"} Father
      %th{:scope => "col"} Contact
  - @students.each do |student|
    %tbody
      %tr
        %th{:scope => "row"} 
          = link_to student_path(student) do
            = student.full_name
        %td
          = student.father
        %td
          = student.contact