.title.has-text-centered
  = student_index_name        
%table.table.is-fullwidth.is-hoverable.has-background-success-light
  %thead
    %tr
      %th{:scope => "col"} Full Name
      %th{:scope => "col"} Father
      %th{:scope => "col"} Contact
      - if user_signed_in_non_student?
        - if current_user.has_role?(:admin)
          %th{:scope => "col"} Action
  - if @school_students
    = render "students/school_students_index"
  - else
    = render "students/students_index"