%hr
.message.is-info
  .message-header.is-size-5
    Would you like to create an account of this user in any of the schools?
    = link_to user_schools_url(@user), class: "button is-link" do
      Click to choose the schools from the list