%article.panel.is-info
  %p.panel-heading
    = user.full_name
    's dashbord
  %p.panel-tabs
    %a My Schools
    %a My Classes
    %a My Students
    %a My Exams
    %a My Markings
  .panel-block
    %p.control.has-icons-left
      %input.input.is-info{:placeholder => "Search", :type => "text"}/
      %span.icon.is-left
        %i.fas.fa-search{"aria-hidden" => "true"}
  %a.panel-block
    %span.panel-icon
      %i.fas.fa-school{"aria-hidden" => "true"}
    My schools
    %a.panel-block
      - if @user.schools.any?        
        - @user.schools.each do |school|
          .has-text-success
            = school.name
          ;
  %a.panel-block
    %span.panel-icon
      %i.fas.fa-book{"aria-hidden" => "true"}
    My Classes
    %a.panel-block
      - if @user.standards.any?      
        - @user.standards.each do |standard|
          .has-text-primary
            = standard.name
          ;
      - else
        .has-text-danger No class allocated to you    
  %a.panel-block
    %span.panel-icon
      %i.fas.fa-book{"aria-hidden" => "true"}
    minireset.css
  %a.panel-block
    %span.panel-icon
      %i.fas.fa-book{"aria-hidden" => "true"}
    jgthms.github.io