%article.panel.is-info
  %p.panel-heading
    = user.full_name
    's dashbord
  %p.panel-tabs
    %a All
    %a Public
    %a Private
    %a Sources
    %a Forks
  .panel-block
    %p.control.has-icons-left
      %input.input.is-info{:placeholder => "Search", :type => "text"}/
      %span.icon.is-left
        %i.fas.fa-search{"aria-hidden" => "true"}
  %a.panel-block
    %span.panel-icon
      %i.fas.fa-book{"aria-hidden" => "true"}
    bulma
  %a.panel-block
    %span.panel-icon
      %i.fas.fa-book{"aria-hidden" => "true"}
    marksheet
  %a.panel-block
    %span.panel-icon
      %i.fas.fa-book{"aria-hidden" => "true"}
    minireset.css
  %a.panel-block
    %span.panel-icon
      %i.fas.fa-book{"aria-hidden" => "true"}
    jgthms.github.io