- if user.schools.any?
  %section.hero.is-info
    .hero-body
      %p.title.has-text-centered
        = user.full_name + "'s"
        Schools
      %p    
      %p.subtitle.has-text-centered
        - user.schools.each do |school|
          %span.tag.is-link.is-light.is-medium
            = school.name
            |
            = link_to user_school_url(user, school) do
              %i.fa.fa-link
- else
  %section.hero.is-danger
    .hero-body
      %p.title.has-text-centered
        No schools
- if current_user.has_role?(:admin)
  %br/
  .notification.is-link.has-text-centered Choose from the list below to create a new account of the user in the selected school           
