- if user.schools.any?
  .title.has-text-centered
    = user.full_name + "'s Schools"
  .columns.is-multiline   
    - user.schools.each do |school|
      .column.is-one-fifth
        .card.has-background-success-light
          .card-content.has-text-centered.is-size-4
            = school.name
          .card-footer
            = link_to user_school_url(user, school), class: "card-footer-item" do
              %i.fa.fa-link
              show
- else
  .card.has-background-danger
    .card-content
      No schools
- if current_user.has_role?(:admin)
  %br/
  .notification.is-link.subtitle.is-light.has-text-centered.animate__animated.animate__slideInUp
    Choose from the list below to create a new account of 
    = user.full_name 
    in the selected school