.label.is-size-4.has-text-centered
  = user_index_name        
%table.table.is-fullwidth.is-hoverable.is-bordered.is-striped
  %thead
    %tr
      %th{:scope => "col"} Full Name
      %th{:scope => "col"} Email
      %th{:scope => "col"} Contact
      %th{:scope => "col"} Role(s)
  - if @school_users
    = render "users/school_users_index"
  - else
    = render "users/users_index"