.section.is-large.welcome-back.welcome
  .columns
    .column.is-one-fifth
    .column.is-three-fifths
      .title.is-size-1 Welcome
      .p.is-size-4 This website belongs to Waliul Asr Education Centre, Kibaha, Mpakani.
      

