@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.welcome {
  font-family: 'Just Another Hand', cursive;
}

.lateef {
  font-family: 'Lateef', cursive;
}