- if @standard.school.name == 'UANS' || @standard.school.name == 'KEMPS' 
  .has-text-centered
    = image_tag "uans_show.jpg", width: '500'
- else
  .has-text-centered
    = image_tag "classroom.jpg", width: '400'