.columns
  = render 'standards/standards_index_title'
- if @school_standards
  = render 'standards/school_standards'
- if @user_standards
  = render 'standards/user_standards'
- if @student_standards
  = render 'standards/student_standards'