- unless controller_name == "students" && action_name == "show" && params[:id] == current_user.username
  .level
    .level-item
      .tabs.is-toggle.is-toggle-rounded.is-small
        %ul
          %li.is-active
            %span
              = link_to student_path(current_user) do
                %span.icon.is-small
                  %i.fas.fa-user-graduate
                = current_user.username
          %li
            %span
              = link_to student_schools_path(current_user) do
                %span.icon.is-small
                  %i.fas.fa-building
                My schools